

.header {
    position: fixed;
    top: 0;
    background: #ffff;
    box-shadow: 0 1px 30px -2px rgba(0, 0, 0, 0.12); 
    z-index: 100;
    width: 100%;
    margin-bottom: 100px;
}

.header-inner {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 89%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    transition: 0.2s;
    margin: 10px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.location {
    font-size: 13.5px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-left: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.location:hover {
    color: #fc8019;
    cursor: pointer;
}

.down-arrow {
    padding: 0px 0px 5px 11px;
    font-size: 22px;
}

.down-arrow:hover {
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.tag {
    display: flex;
    align-items: center;
    font-size: 13.5px;
    justify-content: space-between;
}

.tag:hover {
    color: #fc8019;
    cursor: pointer;
}

.tag-text {
    padding-left: 7px;
}